body{
    margin:0;
    padding: 0;
}
.card
{  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 390px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1.5s;
}
.card:hover 
{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
}
.card:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #4d4d4d;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after
{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #5a5959;
    transform-origin: left;
    transform: skewY(-45deg);
}
.card .imgbox 
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s cubic-bezier(.07,1.47,.92,.65);
}
.card:hover .imgbox 
{
    transform: rotateY(-135deg);
}
.card .details 
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}
.card .details p 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.topo h1 
{
    margin-left: 20px;
}
@media screen and (max-width: 1000px) {
    .card 
    {
        box-shadow: inset 0 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    }
    .card .imgbox {
        height: auto;

    }
   
}
@media screen and (max-width: 810px) {
    .card {
      margin-top: 40px;
    }
}
@media screen and (max-width: 768px) {
    .card:hover{
        transform: translate(-50%, -50%) rotate(0);
    }
    .card .imgbox {
        width: 100%;
        height: 250px;
        float: left;
        display: none;
    }
}
@media screen and  (max-width: 500px) {
    .card{
        margin-top: 10;
        height: 700px;
        font-size: 30px;
        transform: translate(-50%, -50%);
        
    }
    
}

@media (max-width: 380px) {
    .card{
        width: 100%;
        margin-top: 70px;
        height: 800px;
        
        
        
    }
}


