<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Responsive </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="portfolio.css">
    <link  rel="shortcut icon" href="imagens/lukasg.png"  type="images/jpeg"/>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="thumb">
                <img src="imagens/imagem1.jpeg" height="250" alt="praia">
            </div>
            <div class="details">
                <div class="content">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                        <h3>Lorem Ipsum</h3>
                        <a href="CSS3D/css3d.html"> Veja CSS3D</a>

                </div>
            </div>

        </div>
        <div class="box">
                <div class="thumb">
                    <img src="imagens/imagem2.jpeg" height="250" alt="praia">
                </div>
                <div class="details">
                    <div class="content">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <h3>Lorem Ipsum</h3>
                            <a href="CSS3D"> Read More</a>
    
                    </div>
                </div>
    
            </div>
            <div class="box">
                    <div class="thumb">
                        <img src="imagens/imagem3.jpeg" height="250" alt="praia">
                    </div>
                    <div class="details">
                        <div class="content">
                                <i class="fa fa-glass" aria-hidden="true"></i>
                                <h3>Lorem Ipsum</h3>
                                <a href="CSS3D"> Read More</a>
        
                        </div>
                    </div>
        
                </div>
                <div class="box">
                        <div class="thumb">
                            <img src="imagens/imagem4.jpeg" height="250" alt="praia">
                        </div>
                        <div class="details">
                            <div class="content">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <h3>Lorem Ipsum</h3>
                                    <a href="CSS3D"> Read More</a>
            
                            </div>
                        </div>
            
                    </div>

    </div>
    
</body>
</html>